.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search_form {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  
  .search_form input {
    margin-right: 10px;
    width: 50%;
  }
  
  .noposts {
    text-align: center;
  }
  
  .noposts p {
    margin-bottom: 1.5em;
  }
  
  .noposts a {
    padding: 10px 25px;
  }
  
  .newsSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define as colunas da grid */
    gap: 20px; /* Espaçamento entre os cards */
  }
  
  .card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }
 