.edit_post {
  text-align: center;
  margin: 120px auto;
  width: 50%;
  padding: 40px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  }

.edit_post h2 {
  font-size: 2.2em;
  text-align: left;
}

.edit_post p {
  color: #aaa;
  margin-bottom: 2em;
  text-align: left;
}

.edit_post .preview_title {
  margin-bottom: 0.2em;
  color: #000;
  font-weight: bold;
}

.image_preview {
  max-width: 100%;
  margin-bottom: 1em;
}