.post_detail {
    margin-bottom: 2em;
    height: 450px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  }
  
  .post_detail img {
    width: 427px;
    height: 280px;
    padding: 20px;
  }
  
  .post_detail h2 {
    margin-bottom: 0.4em;
    text-align: left;
    margin-left: 20px;
  }
  
  .post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
  }
  
  .tags p {
    margin-right: 0.5em;
  }
  
  .tags span {
    font-weight: bold;
  }
  
  .createdby {
    font-style: italic;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 1em;
  }

  .post_container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 40px;
padding: 20px}

.link{
  /* background-color:  #FEC887;; */
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;}